.about {
  background-color: $primary-white;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 355px 660px;
    column-gap: 145px;
    padding: 120px 103px 240px;
  }
}

.about__title {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 12px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 20px;
    padding: 0 45px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 355px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    margin-bottom: 25px;
    text-align: left;
    font-size: 54px;
    line-height: 54px;
  }
}

.about__description {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
    font-size: 20px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 355px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0;
    margin-bottom: 95px;
    font-size: 22px;
    line-height: 22px;
    text-align: left;
  }
}

.about br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.about p:nth-child(3) {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.about p:nth-child(4) {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.about p:nth-child(3),
.about p:nth-child(4) {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    width: 480px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 45px;
    margin: 0 auto 36px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 355px;
    padding: 0;
    margin: 0;
    text-align: left;
  }
}

.about__img {
  display: block;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 36px;
  }
}

.about__img-wrapper {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}

.about_video-wrapper {
  display: grid;
  grid-template-columns: 320px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 270px;
    bottom: 35px;
    left: 249px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 4/5;
    left: -100px;
    bottom: -78px;
  }
}

.about_video-overlay {
  object-fit: contain;
  width: 320px;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: image-set("../../img/background/video-mobile.png" 1x, "../../img/background/video-mobile@2x.png" 2x);
  background-size: cover;
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    width: 270px;
    background-image: image-set("../../img/background/video-tablet.png" 1x, "../../img/background/video-tablet@2x.png" 2x);
  }
}

.about_video-button {
  margin-left: 137px;
  margin-top: 59px;
  position: relative;
  padding: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 109px;
  }
}

.about_video {
  display: block;
  font-size: 0;
  line-height: 0;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    width: 270px;
  }
}

.about_video-overlay::before {
  content: "";
  display: block;
  position: absolute;
  width: 52px;
  height: 52px;
  background: $gradient-button;
  top: 58px;
  left: 134px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 107px;
  }
}

.about_video-overlay::after {
  content: "";
  display: block;
  position: absolute;
  width:72px;
  height: 72px;
  background: transparent;
  top: 47px;
  left: 122px;
  border-radius: 50%;
  border: 2px solid rgba($background-banner, 0.2);

  @media (min-width: $tablet-width) {
    left: 96px;
  }
}
