.about {
  background-color: $primary-white;
  padding-bottom: 40px;
}

.about__title {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 12px;
  padding: 0 15px;
}

.about__description {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: $primary-dark;
  display: inline-block;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 15px;
}

.about p {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 15px;
}

.about__img {
  display: block;
  margin-bottom: 36px;
}

.about_video-wrapper {
  display: grid;
  grid-template-columns: 320px;
}

.about_video-overlay {
  width: 320px;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: image-set("../../img/background/video-mobile.png" 1x, "../../img/background/video-mobile@2x.png" 2x);
  background-size: cover;
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}

.about_video-button {
  margin-left: 137px;
  margin-top: 59px;
  position: relative;
  padding: 20px;
}

.about_video {
  display: block;
  font-size: 0;
  line-height: 0;
  grid-column: 1/2;
  grid-row: 1/2;
}

.about_video-overlay::before {
  content: "";
  display: block;
  position: absolute;
  width: 52px;
  height: 52px;
  background: $gradient-button;
  top: 58px;
  left: 134px;
  border-radius: 50%;
}

.about_video-overlay::after {
  content: "";
  display: block;
  position: absolute;
  width:72px;
  height: 72px;
  background: transparent;
  top: 47px;
  left: 122px;
  border-radius: 50%;
  border: 2px solid rgba($background-banner, 0.2);
}
