.faq {
  padding: 70px 15px;
  background-color: $secondary-white;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 860px;
    column-gap: 40px;
    padding: 100px 103px;
  }
}

.faq__title {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    text-align: left;
    margin-bottom: 50px;
    grid-column: -1/1;
  }
}

.faq__list-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 193px;
  }
}

.faq__item-navigation {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 4px 0;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
  }
}

.faq__item-navigation:not(:first-child) {
  outline: 1px solid rgba($primary-dark, 0.2);
}

.faq__item-navigation-title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $primary-dark;
  margin: 0;
  padding: 14px 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.faq__item-navigation--active {
  background: $gradient-button;
}

.faq__item-navigation-title--active {
  color: $primary-white;
}

.faq__list-abonement,
.faq__list-services,
.faq__list-rules {
  display: none;
}

.faq__list-center {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.faq__item-center {
  display: grid;
  grid-template-columns: 238px 1fr;
  align-items: center;
  column-gap: 22px;
  row-gap: 20px;
  padding: 20px 0;
  border-top: 1px solid $offers-detail;

  @media (min-width: $tablet-width) {
    grid-template-columns: 615px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-template-columns: 660px 1fr;
  }
}

.faq__list-center li:nth-child(4) br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.faq__item-center:last-child {
  border-bottom: 1px solid $offers-detail;
}

.faq__item-center p:nth-child(1) {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $primary-dark;
  margin: 0;
  padding: 0;
  text-align: left;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.faq__item-center p:nth-child(2) {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: $primary-dark;
  margin: 0;
  padding: 0;
  text-align: left;
  grid-column: 1/3;
  grid-row: 2/3;
  display: none;

  @media (min-width: $tablet-width) {
    width: 559px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 630px;
  }
}

.faq__item-center:nth-child(1) p:nth-child(2) br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.faq__item-center--active p:nth-child(2) {
  display: block;
}

.faq__item-center::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  grid-column: 2/3;
  grid-row: 1/2;

  @include bg-icon(transparent, url("../../img/icon-svg/faq-button-open.svg"), 100%);

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    justify-self: flex-end;
  }
}

.faq__item-center--active::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  grid-column: 2/3;
  grid-row: 1/2;

  @include bg-icon(transparent, url("../../img/icon-svg/faq-button-closed.svg"), 100%);

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    justify-self: flex-end;
  }
}
