.form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 683px 683px;
    padding: 0;
  }
}

.form__title {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $primary-white;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: -1/1;
    font-size: 54px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.form__wrapper {
  background-color: $primary-dark;
  padding: 70px 15px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px;
    display: grid;
    grid-template-columns: 205px 205px;
    column-gap: 30px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    padding: 60px 103px;
  }
}

.form__input-name,
.form__input-number {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $offers-detail;
  width: 290px;
  margin-bottom: 36px;
  padding: 0;
  padding-bottom: 4px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: $primary-white;

  @media (min-width: $tablet-width) {
    width: 205px;
  }
}

.form__input-name {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }
}

.form__input-number {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
  }
}

.form__input::placeholder {
  font-family: $primary-font;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: rgba($primary-white, 0.4);
}

.form__button {
  display: block;
  color: $primary-white;
  border: 2px solid $primary-white;
  padding: 22px 112px;

  @media (min-width: $tablet-width) {
    grid-column: -1/1;
    width: 440px;
    padding: 25px 112px;
  }

  &:hover {
    background-color: $primary-white;
    color: $light-dark-text;
  }

  &:focus {
    background-color: rgba($primary-white, 0.5);
    color: $light-dark-text;
    border: 2px solid $tertiary-dark;
  }

  &:active {
    background-color: $primary-white;
    color: $primary-dark;
  }

  &:disabled {
    color: rgba($primary-white, 0.5);
    border: rgba($primary-white, 0.5);
  }
}

.form__wrapper-contacts {
  background-color: $primary-white;
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    width: 440px;
    padding: 60px;
    columns: 190px 2;
    column-gap: 60px;
    column-rule: 1px solid $offers-detail;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.form__title-contacts {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 42px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    grid-column: -1/1;
    grid-row: 1/2;
    column-span: all;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
    text-align: left;
  }
}

.form__subtitle {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    width: 190px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.form__description,
.form__link-number {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $primary-dark;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    width: 190px;
  }
}

.form__wrapper-contacts p:nth-child(3) {
  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.form__wrapper-contacts p:nth-child(5),
.form__wrapper-contacts p:nth-child(9) {
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__link-number {
  display: block;
  text-decoration: none;
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}
