.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 16px;
  margin-bottom: 48px;
}

.header__link-number {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
  color: $primary-white;
  align-self: flex-start;
}
