.juri {
  background-color: $primary-white;
  padding: 40px 15px;
}

.juri__title {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.swiper__slide-image {
  display: block;
  margin: 0 auto;
}

.swiper__slide-image--other {
  display: none;
}

.swiper__slide {
  position: relative;
}

.swiper__slide-text {
  position: absolute;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: $primary-white;
  bottom: 3px;
  left: 80px;
}
