.juri {
  background-color: $primary-white;
  padding: 40px 15px;

  @media (min-width: $tablet-width) {
    padding: 30px 20px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.juri__title {
  font-family: $secondary-font;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: $primary-dark;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 46px;
  }
}

.juri__swiper {
  @media (min-width: $tablet-width) {
    padding: 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.juri__swiper-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 59px;
    gap: 20px 40px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 1160px;
  }
}

.juri__swiper-button {
  @media (min-width: $tablet-width) {
    width: 16px;
    height: 32px;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    top: 140px;
    padding: 22px;
    border-radius: 50%;
    border: 1px solid transparent;
  }

  &:hover {
    border: 1px solid $primary-dark;
  }

  &:focus {
    border: 1px solid $primary-dark;
    background-color: $background-price;
  }

  &:active {
    border: 1px solid $primary-dark;
    background-color: $primary-dark;
  }
}


.juri__swiper-button:active::before{
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 38px;
  top: 3px;
  left: 13px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: $primary-white;
  transition: background 250ms ease-in-out;
}

.juri__swiper-button--next {
  @media (min-width: $tablet-width) {
    rotate: 180deg;
    background-image: url("../../img/icon-svg/arrow-slider.svg");
    right: -5px;
  }

  @media (min-width: $desktop-width) {
    right: -66px;
  }
}

.juri__swiper-button--next::before {
  @media (min-width: $tablet-width) {
    mask-image: url("../../img/icon-svg/arrow-slider.svg");
  }
}

.juri__swiper-button--prev {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/icon-svg/arrow-slider.svg");
    z-index: 1;
    left: -5px;
  }

  @media (min-width: $desktop-width) {
    left: -66px;
  }
}

.juri__swiper-button--prev::before {
  @media (min-width: $tablet-width) {
    mask-image: url("../../img/icon-svg/arrow-slider.svg");
  }
}

.juri__slide-image {
  display: block;
  margin: 0 auto;
}

.juri__swiper-wrapper .juri__swiper-slide:nth-child(2),
.juri__swiper-wrapper .juri__swiper-slide:nth-child(3),
.juri__swiper-wrapper .juri__swiper-slide:nth-child(4) {
  display: none;
}

.juri__swiper-wrapper .juri__swiper-slide:nth-child(2) {
  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.juri__swiper-wrapper .juri__swiper-slide:nth-child(3),
.juri__swiper-wrapper .juri__swiper-slide:nth-child(4) {
  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.juri__swiper-slide {
  position: relative;
  width: 260px;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.juri__slide-text {
  position: absolute;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: $primary-white;
  bottom: 3px;
  left: 80px;

  @media (min-width: $tablet-width) {
    left: 56px;
  }
}
