@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-300.woff2") format("woff2"),
  url("../../fonts/Roboto_Condensed/RobotoCondensed-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-400.woff2") format("woff2"),
  url("../../fonts/Roboto_Condensed/RobotoCondensed-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Roboto_Condensed/RobotoCondensed-700.woff2") format("woff2"),
  url("../../fonts/Roboto_Condensed/RobotoCondensed-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/Alumni_Sans/AlumniSans-600.woff2") format("woff2"),
  url("../../fonts/Alumni_Sans/AlumniSans-600.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/Alumni_Sans/AlumniSans-800.woff2") format("woff2"),
  url("../../fonts/Alumni_Sans/AlumniSans-800.woff") format("woff");
}
