//colors
$gradient-background: linear-gradient(to right, #1C3477, #1C3477, #1A3578, #73184B, #B4022A);
$gradient-button: linear-gradient(to right, #ed0233, #003eb7);
$gradient-additional: linear-gradient(to bottom right, #d10a42, #0041ca);
$gradient-offers: linear-gradient(to bottom right, #d10a42, #00359f);
$primary-white: #ffffff;
$secondary-white: #f8f9fc;
$primary-dark: #102654;
$secondary-dark: #1c3374;
$background-dark-footer: #030a1a;
$background-price: #e8e8e8;
$light-dark-text: #103aae;
$form-error: #ff121f;
$background-banner: #ed0233;
$status-tab: #d10a42;
$border-disabled: rgba(120, 120, 120, 0.2);
$offers-detail: #74819c;
//fonts
$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

//viewports
$tablet-width: 768px;
$desktop-width: 1366px;
