//colors
$gradient-background: linear-gradient(to right, #003d85, #b80027);
$gradient-button: linear-gradient(to bottom right, #ed0233, #003eb7);
$gradient-additional: linear-gradient(to bottom right, #d10a42, #0041ca);
$primary-white: #ffffff;
$secondary-white: #f8f9fc;
$primary-dark: #102654;
$secondary-dark: #1c3374;
$background-dark-footer: #030a1a;
$light-dark-text: #103aae;
$form-error: #ff121f;
$background-banner: #ed0233;
$status-tab: #d10a42;

//fonts
$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "Alumni Sans", "Arial", sans-serif;

//viewports
$tablet-width: 768px;
$desktop-width: 1440px;
